# Основний gitignore файл
# Сюди потрібно додавати файли, які у вашому середовищі розробки потрібно ігнорувати

# Чабанюк Максим
/back-end/

# Мотрич Максим
/.idea/
/googletest/
/C-test/cmake-build-debug/

#Руденко Олександр
/.vs/
