# Основний gitignore файл
# Сюди потрібно додавати файли, які у вашому середовищі розробки потрібно ігнорувати

# Чабанюк Максим
/back-end/
/C-solution/main.cpp

# Мотрич Максим
/.idea/
/googletest/
/C-test/cmake-build-debug/

#Руденко Олександр
/.vs/

/cmake-build-debug/
