# Основний gitignore файл
# Сюди потрібно додавати файли, які у вашому середовищі розробки потрібно ігнорувати

# Олег, закинь .idea у себе в gitignore, ось це 👇🏻
/.idea/
/googletest/

#Руденко Олександр
/.vs/
