<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "../static/main_style.css">
    <link rel="icon" href="../static/project icon.png">
    <title>17 task</title>
    <script src="../static/calculator.js" async></script>
</head>
<body>
    <div class="wrap_flex">
        <div class="header">
          <p>
            <a href="main_page.html"> <img src="../static/project icon.png" align="middle" alt="logo" /> Груповий проект із Загальної алгебри</a>
          </p>
        </div>

        <div class="main">
            <div class="navbar">
                <div class="top_">
                    <div class="list">
                        <ul>
                            <p>Скінченне поле</p>
                          <li>
                            <a href="3.html">
                              Знаходження оберненого елемента. Ділення чисел
                            </a>
                          </li>
                          <li>
                            <a href="4.html">
                              Швидке піднесення у степінь, використовуючи переведення числа у форму Монтгомері
                            </a>
                          </li>
                          <li>
                            <a href="5.html">
                              Розклад числа на множники (наївний алгоритм та алгоритм Поларда) 
                            </a>
                          </li>
                          <li>
                            <a href="6.html">
                              Обчислення квадратного кореня числа 
                            </a>
                          </li>
                          <li>
                            <a href="7.html">
                              Обчислення дискретного логарифму числа
                            </a>
                          </li>
                          <li>
                            <a href="8.html">
                              Знаходження порядку елемента групи. Визначення чи є елемент генератором мультиплікативної групи поля
                            </a>
                          </li>
                          <li>
                            <a href="9.html">
                              Знаходження функції Ейлера від заданого числа  та функції Кармайкла від заданого числа 
                            </a>
                          </li>
                          <li>
                            <a href="10.html">
                              Ймовірнісна перевірка числа на простоту (тест Міллера-Рабіна) 
                            </a>
                          </li>
                          <p>Кільце многочленів</p>
                          <li>
                              <a href="11.html"> Додавання, віднімання, множення двох многочленів. </a></li>
                          <li>
                            <a href="12.html">
                              Знаходження похідної многочлена. Знаходження значення многочлена у точці.
                            </a>
                          </li>
                          <li>
                            <a href="13.html">
                              Знаходження частки та остачі від ділення одного многочлена на інший. Знаходження НСД двох многочленів.
                            </a>
                          </li>
                          <li>
                            <a href="14.html">
                              Знаходження кругового многочлена заданого порядку
                            </a>
                          </li>
                          <p>Поле многочленів</p>
                          <li>
                            <a href="15.html">
                              Розклад кругового многочлена на незвідні множники використовуючи многочлени Ri
                            </a>
                          </li>
                          <li>
                            <a href="17.html">
                              Перевірка чи є многочлен незвідним
                            </a>
                          </li>
                          <li>
                            <a href="18.html">
                              Додавання, віднімання, множення двох многочленів. Нормування многочлена. Швидке піднесення многочлена у степінь
                            </a>
                          </li>
                        </ul>
                    </div>
                </div>
                <div class="bottom">
                    <div id="calculator">
                        <div class="top">
                          <span class="clear">C</span>
                          <div class="screen"></div>
                        </div>
          
                        <div class="keys">
                          <span>7</span>
                          <span>8</span>
                          <span>9</span>
                          <span class="operator">+</span>
                          <span>4</span>
                          <span>5</span>
                          <span>6</span>
                          <span class="operator">-</span>
                          <span>1</span>
                          <span>2</span>
                          <span>3</span>
                          <span class="operator">÷</span>
                          <span>0</span>
                          <span>.</span>
                          <span class="eval">=</span>
                          <span class="operator">x</span>
                        </div>
                      </div>
                </div>
            </div>
            <div class="content_2">
              <h1 class="task">
                Перевірка чи є многочлен незвідним
              </h1>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quam, alias beatae explicabo minus similique nostrum ullam. Impedit cum maxime corrupti similique totam exercitationem quaerat. Consectetur incidunt expedita ab cupiditate.
              </p>
              
              <!--Form for operation with ONE INT number-->
              <form action="" name="irreducible" method="post">
                <div class="input">
                  <input type="text" name="field" placeholder="Введіть поле..." required>
                </div>
                <div class="input">
                  <input type="text" name="first_pol"
                    placeholder="Введіть поліном у форматі...3x^2 + 7x^5 + 4" required>
                </div>
                <input type="submit" class="input" name = "irreducible" value = "Розрахувати!">
              </form>
          
              <div class="output">   
                <div class="block">
                  <p>Результат: </p>
                  <span></span>
                </div>
              
              </div>

              <div class="authors">
                <h1>Виконавці:</h1>
                <ul>
                  <li class="a1">Шупляков Владислав</li>
                  <li class="a2">Гаврилюк Максим</li>
                </ul>
              </div>
              <h1>Код задачі:</h1>
    
              <textarea cols="100" rows="25">
                    struct Input {};
                            struct MoreInput {};
                            
                            struct ImplementationBase {
                                virtual void setMoreInput(MoreInput) = 0;
                                virtual void run(Input input) = 0;
                            };
                            
                            
                            struct MoreInputA {};
                            MoreInputA convertToA(MoreInput);
                            
                            struct ImplementationA : public ImplementationBase {
                                void run(Input input, MoreInputA more_input);
                            
                                MoreInputA more_input_a;
                                void setMoreInput(MoreInput more_input) override {
                                    more_input_a = convertToA(more_input);
                                }
                            
                                void run(Input input) override {
                                    run(input, more_input_a);
                                }
                            };
                    </textarea
              >
            </div>
        </div>

        <div class="footer">
          <div class="footer-left">
            <h3>Gap<span>16</span></h3>
  
            <p class="footer-links">
              <a href="main_page.html" class="link-1">На головну</a>
            </p>
  
            <p class="footer-company-name">Gap 16 © 2022</p>
          </div>
  
          <div class="footer-center">
            <div>
              <i class="fa fa-map-marker"></i>
              <p>
                <span>4д, проспект Академіка Глушкова</span>Київ, Україна, 02000
              </p>
            </div>
  
            <div>
              <i class="fa fa-phone"></i>
              <p>+380442590139</p>
            </div>
  
            <div>
              <i class="fa fa-envelope"></i>
              <p>
                <a href="https://github.com/chabaniuk-m/gap-demo">Gap16.com </a>
              </p>
            </div>
          </div>
  
          <div class="footer-right">
            <p class="footer-company-about">
              <span>Про проект</span>
              Цей проект є демонстраційною (бета-версією) проекту із Загальної Алгебри.
              <br />
               Одночасно користуватися сайтом може лише 1 особа
            </p>
          </div>
        </div>
    </div>
</body>
</html>